<html>
  <head>
    <link rel ='stylesheet' href='/stylesheets/maxcdn.bootstrapcdn.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>

    <script src='/javascripts/ajax.googleapis.js' type='text/javascript'></script>
    <script src='javascripts/maxcdn.bootstrapcdn.js' type='text/javascript'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script>
    var socket = io();

      var username = window.location.search.replace('?', '').split('=')[1];
    //  console.log(username);
    </script>

  </head>


  <body>
    <div class="row"><br>
      <center>Chat Messenger</center><br>
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
        <div id="loggedUser"></div>
      </div>

      <div id="chatBox" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div id="msgList" class="row"><div id="msgText" class="col-sm-12"></div></div>

          <div id="msgBox" class="row">
            <input id="message" autocomplete="off" class="col-xs-9" /><button id="send" class="col-xs-3">Send</button>
          </div>
          <div class="row">
            <div id="msgSignal" class="col-xs-12"></div>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-3"></div>

    </div>
  <script>
// logged in user
    var username = window.location.search.replace('?', '').split('=')[1];
    socket.emit('logged',username);

  /*
      on send emit the message
  */

      $('#send').click(function(){
        var myMsg = $('#message').val()
        socket.emit('message',$('#message').val());
        $('#message').val('');
        $('#msgText').append("<div id='mymsg'  class='clearfix'>"+myMsg+"</div><br><br><br>");
        return false;
      });

  /*
        check if user is typing
  */

      $('#message').keyup(function(){
          socket.emit('typing',"User is typing");
      });

      $('#message').focusout(function(){
        socket.emit('notyping',"");
      });


  /*
      receive and print  emitted messages
  */

      // receive text messages
      socket.on('receiveMsg',function(msg) {
            $('#msgText').append("<div id='othermsg' class='clearfix'>"+msg+"</div><br><br><br>");
      });

      // user is typing msg
      socket.on('receiveTyping',function(msg){
          $('#msgSignal').html(msg);
      });

      //no typing null msg
      socket.on('receiveNoTyping',function(msg){
          $('#msgSignal').html("");
      });

// logged user array
      socket.on('logarr',function(msg){
        var list = $('#loggedUser');
        alert(msg);
        list.empty();
        msg.forEach(function(el){
            list.append('<img src="/images/active.ico" alt="User Online" height="10" width="10">'+el+'<br>');
        });
      });

 </script>

  </body>
</html>
